* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffe3f6;
}
.input-filed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
}
.input-filed input{
  border: hidden;
  width: 100%;
  font-size: 30px;
  background-color: transparent;
}
.input-filed span{
  cursor: pointer;
}
